# Trending Searches

In [1]:
import os
abspath = os.path.abspath('.')
dname = os.path.abspath(os.path.join(abspath, os.pardir))
os.chdir(dname)

from search_loader import SearchLoader

In [2]:
sl = SearchLoader()
df = sl.load()

In [3]:
df.head()

,app_id,clicks,conversions,filters,hits,index,nb_hits,query,query_id,timestamp
0,UJ5WYC0L7X,NaN,NaN,"[{'attribute': '_tags', 'operator': ':', 'valu...","[14158772, 4638286, 14719749, 15508956, 107280...",Item_production,2275,real estate,8b339e098f8daed79fec708843d4fa69,2018-06-14T00:00:31.385Z
1,UJ5WYC0L7X,NaN,NaN,"[{'attribute': '_tags', 'operator': ':', 'valu...","[3374434, 11766851, 7380754, 9112145, 16823201...",Item_production,13464,bird,c31777eb5fd99ed0743259172ee2e6c4,2018-06-14T00:00:16.552Z
2,UJ5WYC0L7X,NaN,NaN,"[{'attribute': '_tags', 'operator': ':', 'valu...","[9338381, 13312205, 11890873, 7444856]",Item_production,4,nim kitchen sink,ae815484943a9ebf3791ce332cc2ff36,2018-06-14T00:04:24.538Z
3,UJ5WYC0L7X,NaN,NaN,"[{'attribute': '_tags', 'operator': ':', 'valu...","[12906232, 11536492, 16996420, 16494387, 15508...",Item_production,6352,canada,e61b46c12a449cc65681b0ad42d639f1,2018-06-14T00:01:20.336Z
4,UJ5WYC0L7X,NaN,NaN,"[{'attribute': '_tags', 'operator': ':', 'valu...","[17248662, 17199663, 17190629, 17159162, 17087...",Item_production_sort_date,192,google speech,62ffcc3ea5827d69631b9fc7caccb86e,2018-06-14T00:02:36.868Z